<app-leftpanel></app-leftpanel>
<div class="container-fluid content">
    <div class="row">
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <h2>All User Selected Policies 
        </h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">#Sno</th>
                <th scope="col">Name</th>
                <th scope="col">All Selected Policy</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userArr ;index as i;">
                <th>{{i+1}}</th>
                <td>{{user.uname}}</td>
                <td>{{usersSelectedPolicies[i]}}</td>
               </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>