<div class="sidebar">
    <a href=""><img src="../../assets/favicon.ico" alt="" height="50px" width="50px"></a><hr>
    <a  routerLink="/Dashboard"> <span class="fas fa-tachometer-alt"></span> &nbsp; Dashboard</a><hr>
    <a routerLink="/AllServices"> <span class="fas fa-scroll"></span> &nbsp; All Policies</a><hr>
    <a routerLink="/EditProfile/{{userid}}"> <span class="fas fa-user-edit"></span> &nbsp; Edit Profile</a><hr>
    
    <span class="btn btn-danger button"><a (click)="userLogout()"> <span class="glyphicon glyphicon-log-out"></span>  &nbsp; Log Out</a></span><hr>
  </div>