<div class="sidebar ">
    <a routerLink=""><img src="../../assets/favicon.ico" alt="" height="50px" width="50px"></a><hr>
    <a class="active" routerLink="/aDashboard"><span class="fas fa-tachometer-alt"></span>  Dashboard</a><hr>
    <a routerLink="/AllPolicies"> <span class="fas fa-scroll"></span> All Policies</a><hr>
    <a routerLink="/UserSelectedPolicies"> <span class="fas fa-portrait"></span> <abbr title="All User Selected Policies"> AUSP</abbr></a><hr>
    <a routerLink="/AddUser"> <span class="fas fa-user-plus"></span> Add Users</a>
    <hr>
    <a routerLink="/AddInsurance"> <span class="fas fa-clinic-medical"></span> Add Policy</a><hr>
    <span class="btn btn-danger button"><a (click)="adminLogout()"> <span class="glyphicon glyphicon-log-out"></span> Log Out</a></span><hr>
  </div>