<app-leftpanel></app-leftpanel>
<div class="container">
    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title text-center">Add User</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                
                <form #f="ngForm" (submit)="doRegistration(f)">
                    <p class="alert alert-danger" *ngIf="!isAvai && username.touched ">
                        <span class="fas fa-exclamation-triangle"></span>&nbsp;&nbsp;
                        <strong>Sorry! </strong>User name not Available
                    </p>
                    <p class="alert alert-success" *ngIf="isAvai  && timeout">
                        <span class="fas fa-check"></span>&nbsp;&nbsp;
                        <strong>Congrats ! </strong>User Name is Available
                    </p>
                    <div style="margin-bottom: 25px" class="input-group">
                        
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="uname" ngModel placeholder="Username"
                            #username="ngModel" required minlength="6" autocomplete="off" #uname="ngModel" (blur)="isUserNameAvailable(uname.value)">
                    </div>
                    <p class="alert alert-danger" *ngIf="username.errors?.required && username.touched">
                        Please Enter Username
                    </p>
                    
                    <p class="alert alert-danger" *ngIf="username.errors?.minlength && username.touched">
                        Please Enter Username minimum 6 characters
                    </p>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="text" class="form-control" name="uemail" ngModel #useremail="ngModel"
                            placeholder="Email" required email autocomplete="off">
                    </div>
                    <p class="alert alert-danger" *ngIf="useremail.errors?.required && useremail.touched">
                        Please Enter Email
                    </p>
                    <p class="alert alert-danger" *ngIf="useremail.errors?.email && useremail.touched">
                        Please Enter valid email
                    </p>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="upassword" #userPass="ngModel" ngModel
                            required placeholder="Password" pattern="^.{8,32}[a-zA-Z0-9]" autocomplete="off">
                    </div>
                    <p class="alert alert-danger" *ngIf="userPass.invalid && userPass.touched">
                        Please Enter Password with 8-32 characters length with alphanumerics
                    </p>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                        <input type="text" class="form-control" name="uphone" ngModel placeholder="Phone Number"
                            pattern="^(0|[1-9][0-9]*)$" #userphone="ngModel" required number autocomplete="off">
                    </div>
                    <p class="alert alert-danger" *ngIf="userphone.invalid && userphone.touched">
                        Please Enter Correct Number
                    </p>
                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 text-center">
                            <input type="submit" class="btn btn-primary" value="Add User" [disabled]="f.invalid || !isAvai" />
                            &nbsp;
                        </div>
                    </div>
                </form>
                <br> <br><br>

            </div>
        </div>
    </div>


</div>