<div class="container">
    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title text-center">Admin Log In</div>
            </div>
            <div style="padding-top:30px" class="panel-body">

                <form #f="ngForm" (submit)="authAdmin(f)">
                    <p class="alert alert-danger" *ngIf="isErr"><span class="fas fa-exclamation"></span> &nbsp;&nbsp;{{msg}}</p>
                    <p class="alert alert-success" *ngIf="isSucc">{{msg}}</p>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="uname" #Uname="ngModel" ngModel placeholder="username" autocomplete="off">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="upassword" #Upassword="ngModel" ngModel placeholder="password" autocomplete="off">
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 text-center">
                            <input type="submit" class="btn btn-info" value="Login"  [disabled]="f.invalid"> &nbsp;
                        </div>
                    </div>
                </form>
                <br> <br><br>

            </div>
        </div>
    </div>


</div>